/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Alata', sans-serif !important;
    padding: 0;
    margin: 0;
}

button {
    font-family: 'Alata', sans-serif;
    outline: none;
}

.primary-color {
  color: #3e709b;
}

.secondary-color {
  color: #9fbbd3;
}
